---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import AssignmentItem from '@components/AssignmentItem.astro';
import Header from '@components/Header.astro';
import banner from '@assets/banner.gif';
import githubLogo from '@assets/github_light.svg';
import type { ProjectPageInstance } from '@types';

const projects = await Astro.glob('./project/*.astro');
---

<Layout title="Software Architecture portfolio">
  <Header />
  <main>
    <section id="heading">
      <div id="information">
        <section>
          <h1>Software Architecture</h1>
          <h2>Interactive class portfolio</h2>
          <Image class="alt-clouds" width={350} src={banner} alt="Clouds moving across the sky" />
          <h3 id="alumni">Flores Cóngora, Paolo</h3>
          <div id="collegue">Software Engineering</div>
          <div>National University of San Marcos </div>
        </section>
        <footer id="github">
          <Image src={githubLogo} alt="The GitHub logo" />
          <a href="https://github.com/paoloose/softarch" target="_blank">@paoloose/softarch</a>
        </footer>
      </div>
      <Image class="clouds" width={350} src={banner} alt="Clouds moving across the sky" />
    </section>
    <section id="assignments">
      <h2>Assignments</h2>
      <ul id="projects-list">
        {
          projects.map(async (project) => {
            return (
              <li>
                <AssignmentItem page={project as ProjectPageInstance} />
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 100ch;

    img {
      margin-right: 10px;
    }
  }

  #heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;

    .clouds {
      margin-left: 8px;
      align-self: flex-end;
    }
    .alt-clouds {
      display: none;
      align-self: flex-end;
      object-fit: cover;
      max-width: 100%;
    }
  }

  #information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 1.9rem;
      margin: 0px;
      margin-bottom: 0.25rem;
    }

    h2 {
      margin-top: 0;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 24px;
    }

    #alumni {
      font-size: 1.1rem;
    }
    #alumni, #collegue {
      margin: 0px 0px 4px 0px;
    }

    footer {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      img {
        width: 20px;
        margin-right: 6px;
      }
    }
  }

  @media screen and (max-width: 680px) {
    .clouds {
      width: 300px;
      height: 100%;
    }
  }

  @media screen and (max-width: 580px) {
    .clouds {
      width: 280px;
      height: 100%;
    }
  }

  @media screen and (max-width: 520px) {
    #heading {
      flex-direction: column;
    }
    .clouds {
      display: none;
      max-width: 300px;
      object-fit: cover;
    }
    .alt-clouds {
      display: block !important;
      margin-bottom: 18px;
    }
    #github {
      display: none;
    }

    #information h2 {
      margin-bottom: 14px;
    }
  }

  #assignments {
    border-top: 1px solid var(--border-color);
    h2 {
      margin-bottom: 22px;
    }

    #projects-list {
      margin-block: 0;
      margin-inline: 0;
      margin-inline-start: 0;
      padding-inline-start: 0;
    }
    #projects-list li {
      list-style-type: none;
      margin-bottom: 25px;
    }
  }
</style>
