---
import Link from "@components/Link.astro";
import type { ProjectPage } from '@types';

type Props = ProjectPage;

const { page } = Astro.props;
const { metadata } = page;
---

<Link href={page.url}>
  <h4>{metadata.title}</h4>
</Link>
<p>{metadata.description}</p>

<style>
  a {
    display: block;
    padding: 0;
    margin: 0px 0px 10px 0px;
  }

  h4 {
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
    text-wrap: balance;
  }

  li {
    display: inline-block;
    list-style: none;
  }
</style>
