---
---
<header>
  <a href="/" target="_self"><h3>@paoloose</h3></a>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--header-height);

    background-color: #fdfdfd;
    border: 1px solid var(--border-color);
    padding: 0 2.5rem;

    h3 {
      margin: 0;
      padding: 0;
      font-weight: 200;
    }
  }

    @media screen and (max-width: 840px) {
      header {
        padding: 0 1.5rem;
      }
    }
</style>
