---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<'a'>;

const { href, ...attrs } = Astro.props;
const { BASE_URL } = import.meta.env;

if (typeof href !== 'string') {
  throw new Error('The `href` prop is required for the `Link` component.');
}

let url: string = '';

if (href.startsWith(BASE_URL) || url.startsWith('http')) {
  url = href;
}
else {
  const base = BASE_URL.endsWith('/') ? BASE_URL.slice(0, -1) : BASE_URL;
  url = `${base}${href}`;
}
---

<a href={url} {...attrs} target="_self"><slot /></a>
